:root {
    --vh: 1vh;
  }
  @import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap);
  /* ======= ESTILOS GENERALES ======= */
  h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
  body .content {
    padding-bottom: 55px;
  }
  a,
  h2 {
    font-weight: 700;
    margin: 5px auto;
    line-height: 30px;
  }
  h2 {
    font-size: 24px;
    margin: 0 !important;
  }
  a {
    font-size: 18px;
  }
  
  /* ======= BREAKPOINTS ======= */
  
  /* Menores a 1440px */
  @media (max-width: 1440px) {
    h1 {
      font-size: 38px;
    }
    h2 {
      font-size: 23px;
    }
    a {
      font-size: 17px;
    }
  }
  
  /* Menores a 1200px */
  @media (max-width: 1200px) {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 22px;
    }
    a {
      font-size: 16px;
    }
  }
  
  /* Menores a 1024px */
  @media (max-width: 1024px) {
    h1 {
      font-size: 34px;
    }
    h2 {
      font-size: 21px;
    }
    a {
      font-size: 15px;
    }
  }
  
  /* Menores a 900px */
  @media (max-width: 900px) {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 19px;
    }
    a {
      font-size: 14px;
    }
  }
  
  /* Menores a 768px */
  @media (max-width: 768px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 18px;
    }
    a {
      font-size: 14px;
    }
  }
  
  /* Menores a 575px */
  @media (max-width: 575px) {
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 17px;
    }
    a {
      font-size: 13px;
    }
  }
  
  /* ======= ESTILOS DEL BODY ======= */
  body {
    height: calc(var(--vh) * 100);
    background: url("https://jacob-jeans.vercel.app/img/background.webp")
      center/cover no-repeat;
    display: flex;
    place-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
  }
  
  /* ======= CONTENEDORES ======= */
  body > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 auto;
    width: 95%;
    height: 95%;
    align-items: center;
  }
  
  /* ======= IMAGEN PRINCIPAL ======= */
  body > :first-child > :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
  }
  
  body > :first-child > :nth-child(2) img {
    width: 95%;
    max-width: 482px;
  }
  
  /* Imagen - Breakpoints */
  @media (max-width: 1440px) {
    body > :first-child > :nth-child(2) img {
      max-width: 450px;
    }
  }
  
  @media (max-width: 1200px) {
    body > :first-child > :nth-child(2) img {
      max-width: 420px;
    }
  }
  
  @media (max-width: 1024px) {
    body > :first-child > :nth-child(2) img {
      max-width: 380px;
    }
  }
  
  @media (max-width: 900px) {
    body > :first-child > :nth-child(2) img {
      max-width: 350px;
    }
  }
  
  @media (max-width: 768px) {
    body > :first-child > :nth-child(2) img {
      max-width: 320px;
      width: 90%;
    }
  }
  
  @media (max-width: 575px) {
    body > :first-child > :nth-child(2) img {
        position: absolute;
        top: 60px;
      max-width: 280px;
      width: 85%;
    }

    body .container .content div img {
        margin: 0 !important;
    }
  }
  
  /* ======= CONTENEDOR DE TEXTO ======= */
  body > :first-child > :nth-child(3) {
    text-align: center;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  
  /* Subtítulo con color */
  body > :first-child > :nth-child(3) > :nth-child(2) {
    line-height: 1.4rem;
  }
  
  body > :first-child > :nth-child(3) > :nth-child(2) span {
    color: #1db954;
  }
  
  /* Imagen pequeña con margen */
  body > :first-child > :nth-child(3) > :nth-child(3) img {
    width: 85%;
    max-width: 29px;
    margin-bottom: 0.75rem;
  }
  
  /* Enlace estilizado */
  body > :first-child > :nth-child(3) > :nth-child(4) a {
    color: white;
    text-underline-offset: 3px;
    text-decoration: underline white;
  }
  
